<h1><%= @task.title %></h1>

<% if @tasks.blank? %>
<p>There are no tasks currently</p>

<% end %>

<p>
   <strong>Title: </strong> $<%= @task.title %><br />
   <strong>Type:</strong> <%= @task.task_type%><br />
   <strong>Due Date: </strong> <%= @task.due_date%><br />
</p>

<%= link_to 'Back', {:action => 'index'} %>
<%= link_to @task.bussiness.title, bussiness_path(@task.bussiness_id) %>