<h1><%= @bussiness.title %></h1>

<p>
   <strong>Title: </strong> $<%= @bussiness.title %><br />
   <strong>Description: </strong> <%= @bussiness.description%><br />
   <strong>Created Date:</strong> <%= @bussiness.created_at %><br />
   <strong>Bussiness ID</strong> <%= @bussiness.b_id %><br />
</p>


<%= link_to 'Back', {:action => 'index'} %>
<%= link_to 'Edit', {:action => 'edit'} %>