<h1><%= @bussiness.title %></h1>

<p>
   <strong>Title: </strong> <%= @bussiness.title %><br />
   <strong>Description: </strong> <%= @bussiness.description%><br />
   <strong>Created Date:</strong> <%= @bussiness.created_at %><br />
   <strong>Bussiness ID:</strong> <%= @bussiness.id %><br />

</p>


<%= link_to 'Back', {:action => 'index'} %>&nbsp;&nbsp;
<%= link_to 'Edit', {:action => 'edit'} %>&nbsp;&nbsp;
<%= link_to 'AddUser', bussiness_add_user_path(@bussiness) %>&nbsp;&nbsp;
<%= link_to 'Add New Task In Business', bussiness_add_new_task_path(@bussiness) %>
